<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Opciones </div>
    <div class="list-group list-group-flush">
        <a href="mantenimiento/libro"  class="list-group-item list-group-item-action bg-light">Libros</a>
        <a href="mantenimiento/autor"  class="list-group-item list-group-item-action bg-light">Autores</a>
        <a href="mantenimiento/categoria"  class="list-group-item list-group-item-action bg-light">Categorias</a>
        <a href="#"  class="list-group-item list-group-item-action bg-light">Usuarios</a>
    </div>
</div>