<div class="card mt-5 ">
    <div class="card-header">
        <p>Opiniones</p>
    </div>
    <div class="card-body">
        <div class="container-fluid w-100">
            <div class="row">
                <div class="col-11">
                    <textarea placeholder="Escribe tu comentario" rows="3" style="width:100%" [(ngModel)]="comentario.comentario" 
                    name="comentario" ></textarea>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-primary" (click)="guardarComentario()">Publicar</button>
                </div>
                <div class="card w-100 mt-3" *ngFor="let comentario of comentarios">
                    <div class="card-header">
                        <div class="row">
                        <div class="col-9"><p>{{comentario.usuarioNombre}} dijo: </p></div>
                        <div class="col-3 font-italic" style="font-size:small">Publicado en {{comentario.publicacion | date : 'dd/MM/yyyy hh:mm a'}}</div>
                    </div>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid w-100">
                            {{comentario.comentario}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>